h1
{
  font-size: 1.5em;
  font-style: normal;
}

header
{
  font-style: italic;
}

nav{
  float: right;
}

p{
  position: relative;
  top:-20px;
  font-size: 0.9em;
}

/*------------------------
    Classe Personnalisée
------------------------*/
.fenetre
{
  width: 380px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  margin : 5px;
  display:inline-block;
}

.titre
{
}

.corps
{
  text-align: justify;
}

.corps, .img_corps, .titre
{
  padding: 10px;
}

.img_titre
{

}

.img_corps
{
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
