h1
{
  font-size: 1.5em;
  font-style: normal;
}

header
{
  font-style: italic;
}

nav{
  float: right;
}

p{
  position: absolute;
  top:41px;
  font-size: 0.9em;
}

/*------------------------
    Classe Personnalisée
------------------------*/
.fenetre
{
  width: 440px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.titre
{
}

.corps
{
  text-align: justify;
}

.corps, .img_corps, .titre
{
  padding: 10px;
}

.img_titre
{

}

.img_corps
{
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
